
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^admin(.*)$ 	webadmin.php 	[QSA,NC]

RewriteRule ^about(.*)$ 	?main=about_us 	[QSA,NC]
RewriteRule ^service(.*)$ 	?main=service 	[QSA,NC]
RewriteRule ^ourwork(.*)$ 	?main=our_work 	[QSA,NC]
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)-ourwork(.*)$  	?main=our_work&catid=$2&xtname=$1$3 [QSA,NC]
RewriteRule ^career(.*)$ 	    ?main=career 	[QSA,NC]
RewriteRule ^contact(.*)$ 	?main=contact 	[QSA,NC]
RewriteRule ^event(.*)$ 	?main=event 	[QSA,NC]


#AuthName "Private Access - Please login"
#AuthType Basic
#AuthUserFile .htpassword
#require valid-user

#ErrorDocument 404 -err-error.html
#ErrorDocument 403 -err-error.html



								
						