@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/LeagueGothicRegular.ttf') format('ttf'),
  url('../fonts/LeagueGothic-Regular.otf') format('otf'),
  url('../fonts/LeagueGothicRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Medium.woff2') format('woff2'),
  url('../fonts/MaisonNeue-Medium.woff') format('woff'),
  url('../fonts/MaisonNeue-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body, p, h1, h2, h3, h4, h5, figure, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Maison Neue";
  font-size: 14px;
}

.sub-title {
  font-size: 20px;
  line-height: 1.6;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 28px;
  }
}


.title {
  @extend .sub-title;
  font-family: "League Gothic";
}

.header-title {
  @extend .title;
  text-transform: uppercase;
}

.heading {
  font-size: 50px;
  font-family: "League Gothic";
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @media screen and (min-width: 1280px) {
    font-size: 100px;
    letter-spacing: 1.9px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 120px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 136px;
  }
}

.sub-heading {
  font-family: "League Gothic";
  font-size: 50px;
  letter-spacing: 1.7px;
  @media screen and (min-width: 1024px) {
    font-size: 62px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 65px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 70px;
  }
}

.sub-heading2 {
  font-family: "League Gothic";
  font-size: 30px;
  letter-spacing: 1.7px;
  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 60px;
  }
}

.p {
  font-size: 14px;
  line-height: 1.6;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 21px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 22px;
  }
}

.p-bold {
  font-weight: 700;
}

.p-small {
  font-size: 14px;
  line-height: 1.5;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 18px;
  }
}

.label {
  @extend .p-small;
  text-transform: uppercase;
}

.link-menu {
  @extend .p;
  font-family: "League Gothic";

}



.sub-link {
  @extend .p;
  text-transform: uppercase;
}

.heading--underline {
  position: relative;
  &:after {
    content: '';
    width: 60px;
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate3d(-50%, 0, 0);
    background: #ff0000;
    @media screen and (min-width: 768px) {
      bottom: -15px;
    }
    @media screen and (min-width: 1440px) {
      bottom: -20px;
    }
  }
}

.ms_error {
  color: #ff0000;
}

.container {
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 70px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 90px;
  }
}

.logo__figure {
  position: relative;
  max-width: 120px;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    max-width: 197px;
    max-height: 80px;
  }
  &:before {
    content: '';
    max-width: 197px;
    display: inline-block;
    padding-top: percentage(80/197);
  }
}

.nav__logo {
  width: 197px;
  max-width: 197px;
  a {
    display: block;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
      width: 197px;
      height: 80px;
    }
    .logo__figure {
      transform: translateX(0);
      transition: all 0.25s ease-in-out;
    }
    &:hover {
      .logo__figure-hover.logo__figure {
        left: 0px;
        transform: none;
      }
      .logo__figure {
        transform: translateX(-100%);
      }
    }
    .logo__figure-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      transform: none;
      transition: all 0.25s ease-in-out;
    }
  }
}

.col-60 {
  width: 60%;
}

.small-img {
  position: relative;
  max-width: 94px;
  margin: 0 auto 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 35px;
  }
  &:before {
    content: '';
    max-width: 93.8px;
    display: inline-block;
    padding-top: percentage(84/93.8);
  }
}


.figure {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:before {
    content: '';
    width: 100%;
    display: inline-block;
  }
}

.button {
  display: block;
  height: 54px;
  line-height: 54px;
  color: #ffffff;
  text-align: center;
  transition: all 0.5s ease-in-out;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    height: 64px;
    line-height: 64px;
  }
  &:active {
    outline: none;
  }
}

.button-transform{
  display: block;
  height: 54px;
  line-height: 54px;
  color: #fff;
  overflow: hidden;
  position: relative;
  @media screen and (min-width: 768px) {
    height: 64px;
    line-height: 64px;
  }
  &:hover {
    .hover{
      transform: translate3d(0,0,0);
    }
    .transform {
      transform: translate3d(-100%, 0, 0)
    }
    .bg-hover {
      transform: translate3d(0,0,0) skew(-20deg);
      opacity: 1;
    }
  }
  .transform {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  }
  .hover {
    display: block;
    height: 100%;
    width: 120%;
    position: absolute;
    top: 0;
    right: -10%;
    text-align: center;
    color: #fff;
    transform: translate3d(100%,0,0);
    transition: 0.3s ease-in-out;
    z-index: 1;
  }
  .bg-hover {
    display: block;
    height: 100%;
    width: 120%;
    position: absolute;
    top: 0;
    right: -10%;
    text-align: center;
    background: #d20b2d;
    border: 1px solid #d20b2d;
    transform: translate3d(100%,0,0) skew(-20deg);
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
}


.button-primary {
  @extend .button;
  max-width: 326px;
  border: 1px solid #ff0000;
  background: transparent;
}

.button-secondary {
  @extend .button;
  width: 100%;
  max-width: 254px;
  border: 1px solid #ff0000;
  background: #ff0000;
  position: relative;
}

.form-input, .form-textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  color: #808080;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Maison Neue";
  padding: 10px 20px;
}

.form-input {
  height: 50px;

}

.small-container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 1440px){
    padding: 0 30px;
  }
}

.page-about-us {
  .card-title__description {
    max-width: 230px;
    @media screen and (min-width: 768px){
      max-width: 270px;
    }
    @media screen and (min-width: 1500px){
      max-width: 320px;
    }
  }
}

.page-service {
  .card-title__description {
    max-width: 600px;
    @media screen and (min-width: 1500px){
      max-width: 750px;
    }
  }
}

.header {
  .logo__figure {
    margin: 0;
  }
}

body.header__menu-active {
  overflow: hidden;
  .header__menu {
    padding-top: 80px;
    opacity: 1;
    pointer-events: visible;
  }

  button.button-header {
    span {
      margin-bottom: 0;
      transition: all 0.5s ease-in-out;
      &:first-child {
        transform: translateY(-4.5px) rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-child {
        transform: translateY(-7.5px) rotate(-45deg);
      }
    }
  }
}


.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s;
  filter: grayscale(100%);
}
.tv .screen.active {
  opacity: 1;
}

.tv .media-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s;
}
.tv .media-screen.active {
  opacity: 1;
}



.flickity-page-dots {
  display: none;
}

.pagination {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  li {
    margin: 0 5px;
    display: inline-block;
    position: relative;
    a {
      color: #0d0d0d;
    }
  }
}

.videopopupjs {
  background-color: #111517!important;
  display: flex;
  align-items: center;
  justify-content: center;
  .videopopupjs__content {
    max-height: 300px;
    height: 100%!important;
    @media screen and (min-width: 768px){
      max-height: 500px;
    }
    @media screen and (min-width: 1024px){
      max-height: calc(100vh - 100px);
      position: relative;
      max-width: calc(90vw - 50px)!important;
    }
  }
  .videopopupjs__close {
    width: 100%!important;
    text-align: right;
    @media screen and (min-width: 1024px){
      width: calc(100% + 50px)!important;
      position: absolute;
      left: 0;
      top: 10px;
    }
    &:after {
      content: none!important;
    }
    .video__bars {
      width: 30px;
      height: 3px;
      display: inline-block;
      background: #fff;
      &:first-child {
        transform: translateX(30.5px) rotate(-45deg);
      }
      &:last-child {
        transform: translateX(0.55px) rotate(45deg);
      }
    }
  }
}

a[href^="tel"] {
  color: inherit; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe, img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}