.card-client {
  margin-bottom: 60px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 90px;
  }
}
.card-client__container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.card-client__heading {
  margin-bottom: 60px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 90px;
  }
  &:after {
    bottom: -40px;
    @media screen and (min-width: 1440px) {
      bottom: -50px;
    }
  }
}

.card-client__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-client__item {
  width: calc(50% - 20px);
  margin: 10px;
  @media screen and (min-width: 1024px) {
    width: calc(33.33% - 20px);
    margin: 20px 10px;
  }
}

.card-client__figure {
  max-width: 140px;
  max-height: 80px;
  margin: 0 auto;
  background-size: contain;
  @media screen and (min-width: 768px) {
    max-width: 180px;
    max-height: 120px;
  }
  &:before {
    max-width: 93.8px;
    padding-top: 100%;
  }
}

.card {
  padding: 80px 0;
  background: #0d0d0d;
  border-bottom: 1px solid rgba(234, 234, 234, 0.06);
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1024px) {
    border-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1440px) {
    padding: 120px 0;
  }
  .card__container {
    @extend .container;
  }
  .card__row {
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: stretch;
    }
  }
  .flickity-viewport {
    height: 300px!important;
    @media screen and (min-width: 768px) {
      height: 400px!important;
    }
    @media screen and (min-width: 1024px) {
      height: 350px!important;
    }
    @media screen and (min-width: 1280px) {
      height: 400px!important;
    }
    @media screen and (min-width: 1500px) {
      height: 440px!important;
    }
    @media screen and (min-width: 1635px) {
      height: 480px!important;
    }
  }
  .card__item {
    width: 80%;
    height: 200px;
    top: 50%;
    right: 225%;
    transform: translateY(-50%);
    @media screen and (min-width: 768px) {
    /*width: 768px;*/
    height: 300px;
    }
    @media screen and (min-width: 1024px) {
      /*width: 500px;*/
      height: 250px;
    }
    @media screen and (min-width: 1280px) {
      /*width: 700px;*/
      height: 300px;
    }
    @media screen and (min-width: 1500px) {
      /*width: 834px;*/
      height: 340px;
    }
    @media screen and (min-width: 1635px) {
      /*width: 834px;*/
      height: 380px;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#000, 0.8);
    }
    img {
      filter: grayscale(100%);
    }
    &.is-selected {
      height: 300px;
      right: 150%;
      @media screen and (min-width: 768px) {
      /*width: 768px;*/
        height: 400px;
      }
      @media screen and (min-width: 1024px) {
        /*width: 500px;*/
        height: 350px;
      }
      @media screen and (min-width: 1280px) {
        /*width: 700px;*/
        height: 400px;
      }
      @media screen and (min-width: 1500px) {
        /*width: 834px;*/
        height: 440px;
      }
      @media screen and (min-width: 1635px) {
        /*width: 834px;*/
        height: 480px;
      }
      &:hover {
        img {
          filter: grayscale(0%);
        }
      }
      &:after {
        background: rgba(#000, 0);
      }
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
    }
  }
  .card__col {
    &.card__col--left {
      width: 100%;
      margin-bottom: 40px;
      color: #fff;
      @media screen and (min-width: 1024px) {
        width: 40%;
        margin-bottom: 0;
      }
    }
    &.card__col--right {
      width: 100%;
      @media screen and (min-width: 1024px) {
        flex: 1;
        padding-left: 50px;
      }
    }
  }
  .card__description {
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
      max-width: 600px;
      text-align: left;
    }
    @media screen and (min-width: 1280px) {

    }
    @media screen and (min-width: 1440px) {

    }
  }
  .card__heading {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
      text-align: left;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 60px;
    }
    &.heading--underline {
      &:after {
        @media screen and (min-width: 1024px) {
          left: 0;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
  .card__col-header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    @media screen and (min-width: 1024px) {
      justify-content: flex-end;
    }
    p {
      margin: 2px 10px 0;
      white-space: nowrap;
    }
    .red-bar {
      width: 254px;
      height: 8px;
      display: inline-block;
      background: #ff0000;
    }
  }
  .card__footer {
    .button-primary {
      margin: 0 auto;
      @media screen and (min-width: 1024px) {
        margin: 0;
      }
    }
  }
  .card__slide {
    position: relative;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .card__bg-figure {
    width: 70%;
    max-width: 648px;
    filter: grayscale(100%);
    &:before {
      padding-top: percentage(446/689);
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(#0d0d0d, 0.75);
    }
  }
  .card__figure {
    width: 100%;
    max-width: 834px;
    &:before {
      padding-top: percentage(540/834);
    }
  }
  .card__block-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  .card__list {
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: 80%;
    }
  }
  .card__hide-bg {
    width: 100%;
    position: absolute;
    top: 34px;
    left: 0;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  .card__block-footer {
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: right;
    @media screen and (min-width: 1024px) {
      width: 80%;
    }
  }
  .card__block-button {
    display: flex;
  }
  .flickity-button.flickity-prev-next-button {
    width: 32px;
    height: 32px;
    background: transparent;
    border: 1px solid #ff0000;
    border-radius: 0%;
    bottom: -80px;
    transition: all 0.5s ease-in-out;
    &.previous {
      left: 0;
      top: auto;
    }
    &.next {
      right: auto;
      top: auto;
      left: 50px;
    }
    .flickity-button-icon {
      fill: #fff;
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      background: #ff0000;
    }
  }
  .card__number {
    color: #fff;
  }
  &.card--left-img {
    .card__row {
      flex-direction: row-reverse;
    }
    .card__col-header {
      flex-direction: row-reverse;
    }
    .card__block-footer {
      text-align: left;
    }
    .card__block-slide {
      justify-content: flex-start;
    }
    .card__slide {
      align-items: flex-start;
    }
    .flickity-button.flickity-prev-next-button {
      left: auto;
      &.previous {
        right: 50px;
      }
      &.next {
        right: 0;
      }
    }
    .card__col {
      &.card__col--left {
        width: 100%;
        margin-bottom: 40px;
        color: #fff;
        text-align: left;
        @media screen and (min-width: 1024px) {
          width: 40%;
          margin-bottom: 0;
        }
        .card__footer {
          @media screen and (min-width: 1024px) {
            width: 100%;
          }
          .button-primary {
            @media screen and (min-width: 1024px) {
              width: 100%;
            }
          }
        }
      }
      &.card__col--right {
        width: 100%;
        @media screen and (min-width: 1024px) {
          flex: 1;
          padding-right: 50px;
          padding-left: 0;
        }
      }
    }
    .card__hide-bg {
      @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .card__footer {
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: flex-end;
      }
    }
    .card__description {
      margin-bottom: 20px;
      text-align: center;
      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
        max-width: 600px;
        text-align: right;
      }
      @media screen and (min-width: 1280px) {

      }
      @media screen and (min-width: 1440px) {

      }
    }
    .card__heading {
      text-align: center;
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
        text-align: right;
      }
      @media screen and (min-width: 1280px) {
        margin-bottom: 50px;
      }
      @media screen and (min-width: 1440px) {
        margin-bottom: 60px;
      }
      &.heading--underline {
        &:after {
          @media screen and (min-width: 1024px) {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}




