.tabs {
  padding: 60px 0;
  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }
  @media screen and (min-width: 1440px) {
    padding: 90px 0;
  }
}

.tabs__container {
  max-width: 800px;
  text-align: center;
}

.tabs__name {
  display: inline-block;
  margin: 10px 15px;
  @media screen and (min-width: 768px) {
    margin: 15px 30px;
  }
  &.tabs__name--active {
    text-decoration: underline;
    a {
      color: #ff0000;
    }
  }
  &:hover {
    a {
      color: #808080;
    }
  }
  a {
    color: #0d0d0d;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}

.tab-content {
  margin-bottom: 60px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 120px;
  }
}
.tab-content__list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.tab-content__item {
  width: 100%;
  margin: 15px 0;
  position: relative;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc(50% - 30px);
  }
  @media screen and (min-width: 1280px) {
    width: calc(33.33% - 30px);
  }
  &:hover {
    .tab-content__inner {
      @media screen and (min-width: 1100px) {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.65));
      }
    }
    .tab-content__figure {
      @media screen and (min-width: 1100px) {
        filter: grayscale(0%);
      }
      &:after {
        @media screen and (min-width: 1100px) {
          background: transparent;
        }
      }
    }
  }
}

.tab-content__figure {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  &:before {
    padding-top: percentage(368/544);
  }
  &:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#000, 0.75);
    transition: all 0.5s ease-in-out;
  }
}

.tab-content__inner {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 30px 30px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.tab-content__title {
  color: #fff;
  &:after {
    left: 30px;
    bottom: -8px;
    transform: rotate3d(0, 0, 0);
  }
}

.tab-content__see-more {
  &:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(#ff0000, 0.65);
  }
  .tab-content__figure {
    &:after {
      background: transparent;
    }
  }
  .tab-content__inner {
    z-index: 2;
    right: 0;
    left: auto;
    background: transparent!important;
  }
  .tab-content__title {
    text-align: right;
    &:after {
      height: 3px;
      left: auto;
      right: 0;
      bottom: 0px;
      transform: translate3d(0, 0, 0);
      background-color: #ffffff;
    }
  }
}